body{
    background-color: #e0f7fa;
font-family: 'Times New Roman', Times, serif;
text-align: center;

h1{
    color: aqua;
}
img{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h2{
    color: #00796b;
}
text-align: center;
.box{
background-color: white;
width: 350px;
margin: 50px auto;
padding: 20px;
box-shadow:0px 0px 10px 10px gray;
}
input{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    border-color: rgb ;
}
button{
    background-color: #007963;
    color: white;  
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    cursor: pointer;
}
button:hover{
    background-color: red;
}
}